
@media (min-width: 1281px) {
    .footer{
        display: flex;
        width: 100%;
        min-height: 100px;
        background-color: rgb(52, 51, 82);
        // color: white;
    }
    .footer-blank{
        background-color: rgb(52, 51, 82);
        width: 10%;
    }
    .footer-section1{
        width: 20%;
        display: flex;
        flex-direction: column;
        background-color: rgb(52, 51, 82);
        // background-color: red;
    }
    .footer-section1-heading{
        color: white;
        background-color: rgb(52, 51, 82);
    }
    .footer-section1-content{
        background-color: rgb(52, 51, 82);
        color: white;
        font-size: 10px;
    }
    .footer-section2{
        background-color: rgb(52, 51, 82);
        width: 20%;
    }
    .footer-section2 h3{
        background-color: rgb(52, 51, 82);
        color: white;
    }
    .footer-section2-item1{
        display: flex;
        background-color: rgb(52, 51, 82);
    }
    .footer-section2-item1 p{
        color: white;
        background-color: rgb(52, 51, 82);
    }
    .footer-section2-item2{
        display: flex;
        background-color: rgb(52, 51, 82);
    }
    .footer-section2-item2 p {
        color: white;
        background-color: rgb(52, 51, 82);
    }
    .footer-section2-item3{
        display: flex;
        background-color: rgb(52, 51, 82);
    }
    .footer-section2-item3 p{
        color: white;
        background-color: rgb(52, 51, 82);
    }
    .footer-section2-item4{
        display: flex;
        background-color: rgb(52, 51, 82);
    }
    .footer-section2-item4 p{
        color: white;
        background-color: rgb(52, 51, 82);
    }
    .footer-section3{
        background-color: rgb(52, 51, 82);
        width: 20%;
    }
    .footer-section3 div{
        background-color: rgb(52, 51, 82);
    }
    .footer-section3-content{
        display: flex;
    }
    .footer-section3-p p{
        color: white;
        background-color: rgb(52, 51, 82);
    }
    .footer-section3-content h3{
        font-size: 18px;
        color: white;
        background-color: rgb(52, 51, 82);
    }
    .footer-section3-content h5{
        font-size: 12px;
        color: white;
        background-color: rgb(52, 51, 82);
    }
    .footer-section4{
        background-color: rgb(52, 51, 82);
        width: 20%;
    }
    .footer-section4 h3{
        font-size: 28px;
        background-color: rgb(52, 51, 82);
        color: white;
    }
    .footer-section4 p{
        font-size: 12px;
        color: white;
        background-color: rgb(52, 51, 82);
    }
    .footer-section4 div{
        background-color: rgb(52, 51, 82);
    }
    .footer-section4-button button{
        border-color: white;
        background-color: rgb(52, 51, 82);
        border-radius: 0.3em;
    }
}
  